body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;
    padding: 1em 13em;
}

.navbar {
    display: flex;
    
    justify-content: space-between;
    align-items: baseline;
}

.navbar .left #logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.navbar ul{
    display: flex;
    justify-content: right;
    gap: 1.5em;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.intro .img {
    height: 100px;
    width: auto;
    background-color: gray;

}

.intro .subtxt {
    padding: 40px;
}

.main {
    background-color: white;

}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container1 .card {
    flex: 1;
    flex-wrap: wrap;
}
.square {
    border: 4px solid #3882F6;
    border-radius: 20px;
    width: 160px;
    height: 160px;
}

.container1 p {
    max-width: 160px;
}