body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;
    padding: 1em 13em;
}

.navbar {
    display: flex;
    
    justify-content: space-between;
    align-items: baseline;
}

.navbar .left #logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.hero {
    color: #F9FAF8;
    font-weight: bolder;
}

.navbar ul{
    display: flex;
    justify-content: right;
    gap: 1.5em;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.intro .img {
    height: 100px;
    width: auto;
    background-color: gray;

}

.intro .subtxt {
    padding: 30px;
    padding-left: 0px;
    color: #F9FAF8;
}

.main {
    background-color: white;

}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container1 .card {
    flex: 1;
    flex-wrap: wrap;
}
.square {
    border: 4px solid #3882F6;
    border-radius: 20px;
    width: 160px;
    height: 160px;
}

.container1 p {
    max-width: 160px;
}

.quote {
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
    align-content: center;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 13em;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding: 3em;
    width: 100%;
    border-radius: 10px;
}

.container button {
    border: 2px solid #FFF;
}

